.Card{
    margin: 0 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 275px; */
}

.Title {
  background-color: var(--color-primary);
  width: 100%;
  height: 14.1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title h3{
    color: white;
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
}


.Text h4{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
  margin: 1.4rem 0;
  padding: 0 1.1rem;
}

.Card button{
  border: var(--color-secundary);
  background-color: var(--color-secundary);
  border-radius: 8px;
  color: var(--color-text-base);
  font-size: 1.8rem;
  font-weight: 900;
  padding: .9rem 4rem;
}

@media (min-width: 700px){
  .Card{
    margin: 0 4.5rem 4rem;
    flex-basis: 25%;
  }
}
