.Card{
    margin: 0 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1.2rem;
}



.Title h4{
    color: var(--color-text-base);
    font-size: 2rem;
    font-weight: 700;
    margin: 1.6rem 0;
}


.Text h5{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.socials img{
  margin-top: 2.2rem;
  border-radius: 0;
  width: 28px;
  height: 28px;
  margin-right: 2rem;
}


@media (min-width: 700px){
  .Card{
    margin: 1rem;
    flex-basis: 47%;
  }

  .socials img{
    margin-right: 3rem;
  }
}

@media (min-width: 1100px){
  .Card{
    margin: 2.5rem 5rem ;
    flex-basis: 40%;

  }
}
