.Card{
    margin: 0 0 2rem;
    padding: 1.6rem 2.4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(154, 15, 175, 0.04);
    border: 1px solid #9A0FAF;
    box-sizing: border-box;
    border-radius: 8px;

}

.Card img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



.Title h4{
    color: var(--color-text-base);
    font-size: 2rem;
    font-weight: 700;
    margin: 1.6rem 0;
}


.Text h5{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}


@media (min-width: 700px){
  .Card{
    margin: 1rem;
    padding: 3.2rem 1.2rem 5.6rem;
    flex-basis: 30%;
  }
}

@media (min-width: 1100px){
  .Card{
    margin: 1rem 1rem 1rem;
    padding: 3.2rem 2.4rem 5.6rem;
    flex-basis: 31%;
  }
}
