@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Work+Sans:wght@500;800&display=swap');

:root{
  font-size: 62.5%;

  --color-background: #E5E5E5;
  --color-primary:#9A0FAF;
  --color-secundary:#F07D12;
  --color-text-base: #221E1E;
  --color-logo: #000000;
  --color-nav: #090909;
}
html,
body {
  font-family: Roboto
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
