.content {
  margin: 0 2rem;
}

.content h3 {
  margin: 4rem 0;
  font-weight:700;
  font-size: 3.2rem;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 700px){
  .content {
    margin: 0 7.6rem;
  }
}
